In [116]:
# Importing Libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
import time

Q1: Write a python program to scrape data for “Data Analyst” Job position in
“Bangalore” location. You have to scrape the job-title, job-location, company_name,
experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore”
in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note- All of the above steps have to be done in code. No step is to be done manually

In [117]:
# Opening the Webdriver
driver = webdriver.Chrome("C:\\chromedriver_win32\\chromedriver")

In [118]:
# Giving the Input Link
driver.get('https://www.naukri.com/')

In [119]:
# Sending Keyword 'Data Analyst' in search
driver.find_element_by_id("qsb-keyword-sugg").send_keys("Data Analyst")

In [120]:
# Inputing Location Bangalore
driver.find_element_by_id("qsb-location-sugg").send_keys("Bangalore")

In [121]:
# Clicking Search Button
driver.find_element_by_xpath("//div[@class='search-btn']").click()

In [122]:
# Storing Data from driver page source as Soup
soup = BeautifulSoup(driver.page_source, 'html.parser')

In [124]:
Job_title = []
Company_name = []
for i in soup.find_all('a',class_="title fw500 ellipsis")[:10]:
    Job_title.append(i.text)
for i in soup.find_all('div',class_="mt-7 companyInfo subheading lh16")[:10]:
    Company_name.append(i.text)
Link = []
for i in soup.find_all('a',class_="title fw500 ellipsis")[:10]:
    Link.append(i["href"])

Years = []
Salary = []
Location = []

# Creating Indexes to capture 1st, 2nd and 3rd items from list iteratively. Using Arithmetic Progression create index numbers
A = []
for i in range(10):
    A.append(0+i*3)   
B = []
for i in range(10):
    B.append(1+i*3)
C = []
for i in range(10):
    C.append(2+i*3)

# Contains the years, salary and Location in one List. Using the Index lists A, B, C to capture them iteratively.
for i,j in enumerate(soup.find_all('span',class_="ellipsis fleft fs12 lh16")[:30]):
    if i in A:
        Years.append(j.text)
    elif i in B:
        Salary.append(j.text)
    elif i in C:
        Location.append(j.text)

df = pd.DataFrame({}) 
df["Job Title"] = Job_title
df["Company Name"] = Company_name
df["Experience Required"] = Years
df["Salary"] = Salary
df["Location"] = Location

In [125]:
print("Data Analyst Jobs in Bangalore\n")
df

Data Analyst Jobs in Bangalore

,Job Title,Company Name,Experience Required,Salary,Location
0,Data Analyst - SAP,Boston Scientific Corporation,3-5 Yrs,Not disclosed,"Pune, Delhi, Bengaluru, Gurgaon"
1,Hiring Data Analysts on Contract,Flipkart Internet Private Limited4.2(2710 Revi...,2-5 Yrs,"3,00,000 - 6,00,000 PA.",Bengaluru
2,Senior Data Analyst,Schneider Electric4.2(1219 Reviews),2-5 Yrs,Not disclosed,Bengaluru / Bangalore
3,Data Analyst,Shell India Markets Private Limited4.2(524 Rev...,5-8 Yrs,Not disclosed,Bengaluru
4,"Data Analyst -Azure Data lake, Azure Data factory",Mindtree Limited3.9(1386 Reviews),5-9 Yrs,Not disclosed,"Chennai, Pune, Bengaluru, Hyderabad"
5,Business / Data Analyst,IBM India Pvt. Limited4.1(8806 Reviews),2-4 Yrs,Not disclosed,Bengaluru
6,Data Analyst - O2C - Bangalore,RANDSTAD INDIA PVT LTD4.0(944 Reviews),2-4 Yrs,"3,25,000 - 4,50,000 PA.",Bengaluru
7,Intern Data Analyst,Outsource Big Data,0-1 Yrs,Not disclosed,Bengaluru
8,NiFi Data Analyst,Capgemini Technology Services India Limited3.5...,4-6 Yrs,Not disclosed,Bengaluru
9,Data Analyst,Reliance Jio Infocomm Ltd.4.0(8820 Reviews),8-9 Yrs,Not disclosed,Bengaluru

Q2: Write a python program to scrape data for “Data Scientist” Job position in
“Bangalore” location. You have to scrape the job-title, job-location,
company_name, full job-description. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter
“Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note- 1. All of the above steps have to be done in code. No step is to be done
manually.
Please note that you have to scrape full job description. For that you may have to
open each job separately.

In [129]:
driver = webdriver.Chrome("C:\\chromedriver_win32\\chromedriver")
driver.get('https://www.naukri.com/')

In [130]:
driver.find_element_by_id("qsb-keyword-sugg").send_keys("Data Scientist") 
driver.find_element_by_id("qsb-location-sugg").send_keys("Bangalore")

In [131]:
driver.find_element_by_xpath("//div[@class='search-btn']").click()

In [132]:
soup = BeautifulSoup(driver.page_source, 'html.parser')

In [134]:
Job_title = []
Company_name = []
for i in soup.find_all('a',class_="title fw500 ellipsis")[:10]:
    Job_title.append(i.text)
for i in soup.find_all('div',class_="mt-7 companyInfo subheading lh16")[:10]:
    Company_name.append(i.text)
Link = []
for i in soup.find_all('a',class_="title fw500 ellipsis")[:10]:
    Link.append(i["href"])

Years = []
Salary = []
Location = []

# Creating Indexes to capture 1st, 2nd and 3rd items from list iteratively. Using Arithmetic Progression create index numbers
A = []
for i in range(10):
    A.append(0+i*3)
B = []
for i in range(10):
    B.append(1+i*3)
C = []
for i in range(10):
    C.append(2+i*3)
    
# Contains the years, salary and Location in one List. Using the Index lists A, B, C to capture them iteratively.
for i,j in enumerate(soup.find_all('span',class_="ellipsis fleft fs12 lh16")[:30]):
    if i in A:
        Years.append(j.text)
    elif i in B:
        Salary.append(j.text)
    elif i in C:
        Location.append(j.text)

df2 = pd.DataFrame({}) 
df2["Job Title"] = Job_title
df2["Company Name"] = Company_name
df2["Experience Required"] = Years
df2["Salary"] = Salary
df2["Location"] = Location
df2["Job_desc_Link"] = Link

In [135]:
df2

,Job Title,Company Name,Experience Required,Salary,Location,Job_desc_Link
0,Data Scientist/Data Analyst-immediate,Inflexion Analytix Private Limited,1-2 Yrs,"3,00,000 - 4,25,000 PA.","Chennai, Pune, Bengaluru, Hyderabad",https://www.naukri.com/job-listings-data-scien...
1,Data Scientist - Python/ MATLAB/ Machine Learn...,Wrackle Technologies Pvt Ltd,3-8 Yrs,Not disclosed,Bengaluru,https://www.naukri.com/job-listings-data-scien...
2,Lead Data Scientist - Machine Learning/ Data M...,Wrackle Technologies Pvt Ltd,6-11 Yrs,Not disclosed,Bengaluru,https://www.naukri.com/job-listings-lead-data-...
3,Data Scientist - Machine Learning (Commerce BU),BLUE YONDER INDIA PRIVATE LIMITED3.9(119 Reviews),4-6 Yrs,Not disclosed,Bengaluru,https://www.naukri.com/job-listings-data-scien...
4,Data Scientist,Atos Syntel Private Limited3.6(1786 Reviews),12-18 Yrs,Not disclosed,"Chennai, Pune, Mumbai, Bengaluru",https://www.naukri.com/job-listings-data-scien...
5,Opening For Sr. Data Scientist @ Tech Mahindra,Tech Mahindra Ltd.3.6(10444 Reviews),12-20 Yrs,Not disclosed,"Pune, Bengaluru",https://www.naukri.com/job-listings-opening-fo...
6,Opening For Sr. Data Scientist @ Tech Mahindra,Tech Mahindra Ltd.3.6(10444 Reviews),12-20 Yrs,Not disclosed,"Pune, Bengaluru",https://www.naukri.com/job-listings-opening-fo...
7,Senior Data Scientist - NLP/ Python/ R,AVI Consulting LLP,4-9 Yrs,Not disclosed,"Bengaluru, Hyderabad",https://www.naukri.com/job-listings-senior-dat...
8,Senior Data Scientist | CES IT LTD | CMMI Level 5,CES Ltd.3.1(73 Reviews),2-7 Yrs,"7,00,000 - 15,00,000 PA.","Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, H...",https://www.naukri.com/job-listings-senior-dat...
9,Data Scientist and Senior Data Scientist Acade...,RANDSTAD INDIA PVT LTD4.0(944 Reviews),2-5 Yrs,"8,00,000 - 13,00,000 PA.",Bengaluru,https://www.naukri.com/job-listings-data-scien...

In [136]:
# Capturing Job Description Full one by one 
Job_Desc_full = []
for i in Link:
    driver.get(i)
    soup = BeautifulSoup(driver.page_source, 'html.parser')
    for i in soup.find_all('section',class_="job-desc"):
        job_desc_text = i.find("div").text
    Job_Desc_full.append(job_desc_text)

In [144]:
# Job Description Full Data for 10 jobs
Job_Desc_full

[' Job descriptionDear CandidateSchedule a Telephonic Interview ( Please call for confirmation) : Mon- Sat from 11:00am to 5:00pm only. OR Walk-In to the Corporate office between Monday to Friday from 11:00am to 5:00pmContact person :  Manigandan -+91 7299917200 Shantha +91 9790993237Aishwaria 9427329576 Greetings from CAIA !A great opportunity to enter the world of future technologies - Data Science, Analytics, AI, Data Visualization Applications invited from all Freshers and experienced candidates aspiring to make a career in Artificial Intelligence and Advanced Analytics and Data Science. In case you are trying to shift your career to Analytics and/or AI domain please do connect with us to know more.What is needed from you?- An Educational background in any one of the following- BE/B.Tech, ME/M Tech, MSc, BSc/MSc Maths and Statistics, B Com, BCA, BSc CS, BSC IT, MSC IT, MCA- Skills relating to Mathematics/Statistics.- Natural passion towards numbers, business, coding, Analytics and Artificial Intelligence, Machine Learning, visualization- Good verbal and written communication skills- Ability to understand domains in businesses across various sectors- Freshers who wish to start their career in Analytics and AI and professionals who wish to up skill or change their domain to analytics and emerging technologies are free to apply.Selection procedure includes- Online Aptitude Test- Logical Ability Test / Written TestOn being shortlisted, you will be have to undergo a one-one discussion with our counsellor for further evaluation and processing of your Resume.What you can expect from us?You will get trained on the following modules for a period of 12-14 weeks:-SQL & PLSQL-Data Wrangling using Python-Statistics for Machine Learning,-Artificial Intelligence, Data Interpretation-Supervised & Unsupervised Learning,-NLP & Deep Learning-Cloud Data Lake -Business intelligence & Data Visualization-Simulation ProjectsWhat is the expected Outcome?At the end of the Training you are expected to be well versed with the following:- Analysis of large and complex data sets from multiple sources- Development and evaluation of data analytics models, algorithms and solutions- Understanding/implementation of ML algorithms, performance tuning and reporting- Implementation of algorithms to mine targeted data and the ability to convert data into a business story- Translation of business requirements into technical requirements; Data extraction, preparation and transformation- Identification, development and implementation of statistical techniques and algorithms that address business challenges and adds value to the organisation- Requirement Analysis and communication of findings in the form of a meaningful story with the stakeholdersCenter for Artificial Intelligence & Advanced Analytics (CAIA) focuses on the following:1. Global Research on emerging trends, technologies and applications in AI and Advanced Analytics2. Advanced Training programs for readying the future ready workforce3. Solutions to herald the futuristic lifestyle and workspaces in the field of AI and Data Science.http://www.centerforaia.com/Center for Artificial Intelligence and Advanced Analytics (Center for AIA) is the brainchild of experienced and visionary alumni of IIT Madras and Bombay. Digital leaders 5F World and Systech Solutions have joined hands to create a venture for architecting the future of society, workforce, governments and businesses. 5F World specializes in designing solutions around digital platforms and Systech Solutions has an expertise in architecting Artificial Intelligence and Advanced Analytics solutions for Fortune 500 companies through specialized programmed.5F World5F World is a leader in digital transformational journeys and has brought together the best minds in industry, academia and technology domains to develop a unique framework to transform stakeholder journeys through innovation and digitalization of businesses and education institutions.Systech SolutionsSystech Solutions is a leading organisation in Data Strategy, Management & Analytics services provider with deep technology expertise and over 20 years of industry experience. Systech Solutions helps empower clients with innovative, data-driven solutions to reimagine their enterprise and has forged partnerships with industry-leading technology providers to develop a full spectrum of data services.  Website http://www.centerforaia.com/  https://inflexion-analytix-private-limited.business.site/?m=true Contact Person Manigandan /Shantha/AishwariaPhone Number7299917200/ 9790993237 / 9427329576Emailmanigandan@centerforaia.com',
 'Data Scientist - Data Mining/ Machine Learning/ Statistical AnalysisRequirements :- 3-9 years of strong experience in data mining, machine learning, and statistical analysis.- BS/MS/Ph.D. in Computer Science, Statistics, Applied Math, or related areas from Premier institutes ( only IITs / IISc / BITS / Top NITs or top US university should apply)- Ability to lead and deliver in a fast-paced start-up environment.- Fluency in tools such as Matlab, Python, etc.- Strong intuition for data and Keen aptitude on large scale data analysis- Excellent written and verbal communication skills.- Ability to collaborate across teams and strong interpersonal skills.',
 'Roles and ResponsibilitiesRequirements :- 6-9 years of strong experience in data mining, machine learning and statistical analysis.- BS/ MS/ PhD in Computer Science, Statistics, Applied Math, or related areas from Premier institutes ( only IITs / IISc / BITS / Top NITs or top US university should apply)- Ability to lead and deliver in a fast-paced start-up environment.- Fluency in tools such as Python/ R/ Matlab etc.- Strong intuition for data and Keen aptitude on large scale data analysis- Excellent written and verbal communication skills.- Ability to collaborate across teams and strong interpersonal skills.',
 'Roles and ResponsibilitiesRequirements :- 6-9 years of strong experience in data mining, machine learning and statistical analysis.- BS/ MS/ PhD in Computer Science, Statistics, Applied Math, or related areas from Premier institutes ( only IITs / IISc / BITS / Top NITs or top US university should apply)- Ability to lead and deliver in a fast-paced start-up environment.- Fluency in tools such as Python/ R/ Matlab etc.- Strong intuition for data and Keen aptitude on large scale data analysis- Excellent written and verbal communication skills.- Ability to collaborate across teams and strong interpersonal skills.',
 ' Working experience in Artificial Intelligence, Python, R, Machine Learning Experience in data mining, Strong math skills (e.g. statistics, algebra) Strong programming skills in: R, Python and familiarity with Java, Scala, C - DB/NoSql - MongoDB, Neo4J, MySql. Cassandra, DynamoDB, Redshift Experience on Hadoop Map reduce, Pig, Hive, Mahout and Apache Spark, H20 Strong experience in Data warehousing, ETL, BI (e.g. Tableau, Power BI) and Data Visualization tools (matplotlib, D3.js, Plotly.js, Shiny etc) Experience with Deep Learning tools Tensorflow, Theano, Caffe etc. - Elastic Search, NLP background and Machine Learning Platforms Experienced in deployment of High performance, Scalable Big Data Hadoop clusters and Web applications on cloud infrastructure (Azure, AWS, Bluemix etc)  Experience in neural networks, regression, classification and clustering  Deep industry knowledge on any of the following: Banking, Insurance, Retail Manufacturing  Deep understanding of Statistical algorithms: Linear and Non-Linear models, classification problem, optimization techniques, Market mix models, A/B Testing and campaign management, Feature ranking/selection techniques, supervised/unsupervised learning, Collaborative filtering, Apriori Market Basket analysis, SVM, Gradient boosting, Survival analysis etc. To help designing, innovating and building our next generation ML architecture Full time programming experience within an operation or technical department. Identify valuable data sources and automate collection processes Undertake pre-processing of structured and unstructured data Analyze large amounts of information to discover trends and patterns Build predictive models and machine-learning algorithms Combine models through ensemble modelling Present information using data visualization techniques Propose solutions and strategies to business challenges Collaborate with engineering and product development teams Mentor others in the use of AI/Machine Learning',
 ' Working experience in Artificial Intelligence, Python, R, Machine Learning Experience in data mining, Strong math skills (e.g. statistics, algebra) Strong programming skills in: R, Python and familiarity with Java, Scala, C - DB/NoSql - MongoDB, Neo4J, MySql. Cassandra, DynamoDB, Redshift Experience on Hadoop Map reduce, Pig, Hive, Mahout and Apache Spark, H20 Strong experience in Data warehousing, ETL, BI (e.g. Tableau, Power BI) and Data Visualization tools (matplotlib, D3.js, Plotly.js, Shiny etc) Experience with Deep Learning tools Tensorflow, Theano, Caffe etc. - Elastic Search, NLP background and Machine Learning Platforms Experienced in deployment of High performance, Scalable Big Data Hadoop clusters and Web applications on cloud infrastructure (Azure, AWS, Bluemix etc)  Experience in neural networks, regression, classification and clustering  Deep industry knowledge on any of the following: Banking, Insurance, Retail Manufacturing  Deep understanding of Statistical algorithms: Linear and Non-Linear models, classification problem, optimization techniques, Market mix models, A/B Testing and campaign management, Feature ranking/selection techniques, supervised/unsupervised learning, Collaborative filtering, Apriori Market Basket analysis, SVM, Gradient boosting, Survival analysis etc. To help designing, innovating and building our next generation ML architecture Full time programming experience within an operation or technical department. Identify valuable data sources and automate collection processes Undertake pre-processing of structured and unstructured data Analyze large amounts of information to discover trends and patterns Build predictive models and machine-learning algorithms Combine models through ensemble modelling Present information using data visualization techniques Propose solutions and strategies to business challenges Collaborate with engineering and product development teams Mentor others in the use of AI/Machine Learning',
 ' Working experience in Artificial Intelligence, Python, R, Machine Learning Experience in data mining, Strong math skills (e.g. statistics, algebra) Strong programming skills in: R, Python and familiarity with Java, Scala, C - DB/NoSql - MongoDB, Neo4J, MySql. Cassandra, DynamoDB, Redshift Experience on Hadoop Map reduce, Pig, Hive, Mahout and Apache Spark, H20 Strong experience in Data warehousing, ETL, BI (e.g. Tableau, Power BI) and Data Visualization tools (matplotlib, D3.js, Plotly.js, Shiny etc) Experience with Deep Learning tools Tensorflow, Theano, Caffe etc. - Elastic Search, NLP background and Machine Learning Platforms Experienced in deployment of High performance, Scalable Big Data Hadoop clusters and Web applications on cloud infrastructure (Azure, AWS, Bluemix etc)  Experience in neural networks, regression, classification and clustering  Deep industry knowledge on any of the following: Banking, Insurance, Retail Manufacturing  Deep understanding of Statistical algorithms: Linear and Non-Linear models, classification problem, optimization techniques, Market mix models, A/B Testing and campaign management, Feature ranking/selection techniques, supervised/unsupervised learning, Collaborative filtering, Apriori Market Basket analysis, SVM, Gradient boosting, Survival analysis etc. To help designing, innovating and building our next generation ML architecture Full time programming experience within an operation or technical department. Identify valuable data sources and automate collection processes Undertake pre-processing of structured and unstructured data Analyze large amounts of information to discover trends and patterns Build predictive models and machine-learning algorithms Combine models through ensemble modelling Present information using data visualization techniques Propose solutions and strategies to business challenges Collaborate with engineering and product development teams Mentor others in the use of AI/Machine Learning',
 'Roles and ResponsibilitiesSkill : NLP,Semantic model, NER model, Deep LearningNotice : who can join in a month maxJob description :- 5+ years of experience using analytical toolslanguages like Python & R on large scale data- Must have Semantic model & NER experience- Experience working with pre-trained models, awareness of state-of-art in embeddings and applicability for use cases- Experience on Deep Learning for Image processing, Video analytics will be a plus- Must have strong experience in NLPNLGNLU applications using any popular Deep learning frameworks like Open CV, PyTorch, Theano, Tensor Flow, Caffe. Should have implemented solutions for industry use cases.- Demonstrated ability to engage with client stakeholders at multiple levels and provide consultative solutioning across different domains- Deep knowledge of techniques such as Linear Regression, gradient descent, Logistic Regression, Forecasting, Cluster analysis, Decision trees, Linear Optimization, Text Mining etc.- Must have experience in doing POCs - Strong applied fundamentals in data management, parallel computing and distributed systems; experience in productionizing & retraining models- Ability to guide and mentor teams of associates on solution development and approaches- Broad knowledge of fundamentals and state-of-the-art in NLP and machine learning- Coding skills in one or more programming languages such as Python, Scala, Java, C, C++- Expert high level of understanding on language semantic concepts & data standardization- Proven track record of successful models and practical implementation- Hands-on experience with popular ML frameworks such as TensorFlow- Experience with application development practices at scale, from problem definition to deployment.- Familiarity with Cloud services such as AWS, SageMaker etc. is considered a plus- Develop and apply Statistical Modeling techniques (e.g. Bayesian models and deep neural networks), optimization methods, and other ML techniques to different applications- Knowledge in Machine Learning techniques in entity resolution, common speech products or text search domain ',
 'Roles and Responsibilities  Must have strong Python Programming SkillsStrong analytical & algorithm development skillsLogical and Analytical skills must be really strongMust have worked in DeepLearning Efforts - Especially computer vision.Must have experinece with Object Detection - Custom model training for Object detection Should have experience with atleast one or more of these - Tensorflow, Keras, PyTorchPrimary Skills - Python + tensorflow -  Keras / PyTorch, OpenCV Perks and Benefits Kindly share your resume to kandavelkumar.lakshmanan @cesltd.com ',
 "We are hiring Data Scientist and Senior Data Scientist Academic Operations for our leading EdTech Client.Call/WhatsApp- Amit-9379292728Email: amitkumar.s@randstad.inor Fill the google form - https://tinyurl.com/JobAppForm4Job Responsibilities:Your primary job responsibility will include (and not limited to):Own the student's learning outcomes by providing them with support on the topics covered in thecurriculum. Involve in the residency class room sessions to facilitate lectures and lab sessions Be the first point contact for participants for academic queries and manage discussiongroups Monitor participants academic performance and make learning interventions in theform of remedial sessions, coaching and mentoringCoordinate with faculty to create best in class learning material - video, reading material,assignments, exams Design and conduct examinations to measure the learning outcome of participants Identify & Solve interesting problems involving rich datasets in various domains.Accordingly, create capstone projects on the evolving use cases in the industry Identify key emerging trends in the industry and maintain a rich reference material Assist program director and senior operations and academics managers in planningon-campus sessions, preparing schedules, evaluation and grading Identify key reporting metric sand create dashboards to enable quick decision makingAutomation of manual data collection, data cleansing and exploratory data analysis Create and maintain business and technical requirements Identify technical solutions and perform feasibility analysis Create technical roadmaps for the operations Team Manage, identify and suggest processes for smoother program management toensure a consistent and trouble free learning experience Coordinate with IT and Admin to ensure smooth execution at various locations Travel to other cities if required to manage residenciesRelevant Background: Graduate with an exceptional academic track record Competency: (Top 3)1. Passion for learning and having great learning outcomes2. Ability to multitask and coordinate with multiple stakeholders3. Excellent knowledge in python, tableau and ML concepts"]

In [142]:
df2 = df2.drop("Job_desc_Link",axis=1)
df2["Job Description Full"] = Job_Desc_full

In [143]:
print("Data Sceintist Jobs in Bangalore with full job description")
df2

Data Sceintist Jobs in Bangalore with full job description

,Job Title,Company Name,Experience Required,Salary,Location,Job Description Full
0,Data Scientist/Data Analyst-immediate,Inflexion Analytix Private Limited,1-2 Yrs,"3,00,000 - 4,25,000 PA.","Chennai, Pune, Bengaluru, Hyderabad",Job descriptionDear CandidateSchedule a Telep...
1,Data Scientist - Python/ MATLAB/ Machine Learn...,Wrackle Technologies Pvt Ltd,3-8 Yrs,Not disclosed,Bengaluru,Data Scientist - Data Mining/ Machine Learning...
2,Lead Data Scientist - Machine Learning/ Data M...,Wrackle Technologies Pvt Ltd,6-11 Yrs,Not disclosed,Bengaluru,Roles and ResponsibilitiesRequirements :- 6-9 ...
3,Data Scientist - Machine Learning (Commerce BU),BLUE YONDER INDIA PRIVATE LIMITED3.9(119 Reviews),4-6 Yrs,Not disclosed,Bengaluru,Roles and ResponsibilitiesRequirements :- 6-9 ...
4,Data Scientist,Atos Syntel Private Limited3.6(1786 Reviews),12-18 Yrs,Not disclosed,"Chennai, Pune, Mumbai, Bengaluru",Working experience in Artificial Intelligence...
5,Opening For Sr. Data Scientist @ Tech Mahindra,Tech Mahindra Ltd.3.6(10444 Reviews),12-20 Yrs,Not disclosed,"Pune, Bengaluru",Working experience in Artificial Intelligence...
6,Opening For Sr. Data Scientist @ Tech Mahindra,Tech Mahindra Ltd.3.6(10444 Reviews),12-20 Yrs,Not disclosed,"Pune, Bengaluru",Working experience in Artificial Intelligence...
7,Senior Data Scientist - NLP/ Python/ R,AVI Consulting LLP,4-9 Yrs,Not disclosed,"Bengaluru, Hyderabad","Roles and ResponsibilitiesSkill : NLP,Semantic..."
8,Senior Data Scientist | CES IT LTD | CMMI Level 5,CES Ltd.3.1(73 Reviews),2-7 Yrs,"7,00,000 - 15,00,000 PA.","Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, H...",Roles and Responsibilities Must have strong P...
9,Data Scientist and Senior Data Scientist Acade...,RANDSTAD INDIA PVT LTD4.0(944 Reviews),2-5 Yrs,"8,00,000 - 13,00,000 PA.",Bengaluru,We are hiring Data Scientist and Senior Data S...

In [48]:
# Function for this Entire Process
def Job_finder_Naukri():
    driver = webdriver.Chrome("C:\\chromedriver_win32\\chromedriver")
    driver.get('https://www.naukri.com/')
    driver.find_element_by_id("qsb-keyword-sugg").send_keys("Data Scientist") 
    driver.find_element_by_id("qsb-location-sugg").send_keys("Bangalore") 
    driver.find_element_by_xpath("//div[@class='search-btn']").click()
    soup = BeautifulSoup(driver.page_source, 'html.parser')
    Job_title = []
    Company_name = []
    for i in soup.find_all('a',class_="title fw500 ellipsis")[:10]:
        Job_title.append(i.text)
    for i in soup.find_all('div',class_="mt-7 companyInfo subheading lh16")[:10]:
        Company_name.append(i.text)
    Link = []
    for i in soup.find_all('a',class_="title fw500 ellipsis")[:10]:
        Link.append(i["href"])

    Years = []
    Salary = []
    Location = []
    A = []
    for i in range(10):
        A.append(0+i*3)
    B = []
    for i in range(10):
        B.append(1+i*3)
    C = []
    for i in range(10):
        C.append(2+i*3)

    for i,j in enumerate(soup.find_all('span',class_="ellipsis fleft fs12 lh16")[:30]):
        if i in A:
            Years.append(j.text)
        elif i in B:
            Salary.append(j.text)
        elif i in C:
            Location.append(j.text)

    Job_Desc_full = []
    for i in Link:
        driver.get(i)
        soup = BeautifulSoup(driver.page_source, 'html.parser')
        for i in soup.find_all('section',class_="job-desc"):
            job_desc_text = i.find("div").text
        Job_Desc_full.append(job_desc_text)
    df = pd.DataFrame({}) 
    df["Job Title"] = Job_title
    df["Company Name"] = Company_name
    df["Experience Required"] = Years
    df["Salary"] = Salary
    df["Location"] = Location
    df["Job Desc Full"] = Job_Desc_full
    return df

Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to
scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %

In [231]:
def flipkart_product(product):   
    driver = webdriver.Chrome("C:\\chromedriver_win32\\chromedriver")
    driver.get('https://www.flipkart.com/')
    driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']").click()
    driver.find_element_by_xpath("//input[@class='_3704LK']").send_keys(product)
    driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()
    time.sleep(2)   # Using sleep to give driver time to load
    soup = BeautifulSoup(driver.page_source, 'html.parser')
    Brand = []
    for i in soup.find_all('div',class_="_2WkVRV"):
        Brand.append(i.text)
    Product_Desc = []
    for i in soup.find_all('a',class_="IRpwTa"):
        Product_Desc.append(i.text)
    Price = []
    for i in soup.find_all('div',class_="_30jeq3"):
        Price.append(i.text)
    Discount = []
    for i in soup.find_all('div',class_="_3Ay6Sb"):
        Discount.append(i.text)
    data = pd.DataFrame({})
    data["Brand"] = Brand
    data["Product Descr"] = Product_Desc
    data["Price"] = Price[:len(Brand)]
    data["Discount %"] = Discount[:len(Brand)]
    # Go to Next Page
    nxt_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
    if nxt_button.text=='Next':
        nxt_button.click()
        
    # Capturing Data till length is 100
    while len(data) < 100:
        time.sleep(3)
        soup = BeautifulSoup(driver.page_source, 'html.parser')
        Brand = []
        for i in soup.find_all('div',class_="_2WkVRV"):
            Brand.append(i.text)
        Product_Desc = []
        for i in soup.find_all('a',class_="IRpwTa"):
            Product_Desc.append(i.text)
        Price = []
        for i in soup.find_all('div',class_="_30jeq3"):
            Price.append(i.text)
        Discount = []
        for i in soup.find_all('div',class_="_3Ay6Sb"):
            Discount.append(i.text)
        df = pd.DataFrame({})
        df["Brand"] = Brand
        df["Product Descr"] = Product_Desc
        df["Price"] = Price[:len(Brand)]
        df["Discount %"] = Discount[:len(Brand)]
        data = data.append(df)
        data = data.reset_index(drop=True)
        nxt_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
        if nxt_button.text=='Next':
            nxt_button.click()
        time.sleep(3) 
    return data[:100]

In [233]:
print("100 Sunglasses from Flipkart")
flipkart_product("Sunglasses")     # Giving input Sunglasses to the function

100 Sunglasses from Flipkart

,Brand,Product Descr,Price,Discount %
0,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹499,77% off
1,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹499,37% off
2,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹499,37% off
3,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹599,33% off
4,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹404,79% off
...,...,...,...,...
95,Fastrack,UV Protection Aviator Sunglasses (58),₹896,31% off
96,Online Mantra,"UV Protection Round, Aviator Sunglasses (Free ...",₹150,70% off
97,Gansta,UV Protection Aviator Sunglasses (57),₹284,85% off
98,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹399,50% off
99,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹499,77% off

Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to
go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
TSVZAXUHGREPBFGI&marketplace.
These are
1. Rating
2. Review_summary
3. Full review
You have to scrape this data for first 100 reviews.

In [440]:
def flipkart_reviews():    
    driver = webdriver.Chrome("C:\\chromedriver_win32\\chromedriver")
    driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace")
    
    # Going to the Page where page contains all reviews. We can switch pages clicking NEXT.
    reviewspage = driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']")  
    reviewspage.click()
    reviews = []
    review_summary = []
    rating = []
    # Capturing Data till length is 100
    while len(reviews) < 100:
        soup = BeautifulSoup(driver.page_source, 'html.parser')
        for i in soup.find_all('div',class_="_3LWZlK _1BLPMq"):
            rating.append(i.text)
        for i in soup.find_all('p',class_="_2-N8zT"):
            review_summary.append(i.text)
        for i in soup.find_all('div',class_="t-ZTKy"):   # Capturing full Reviews
            reviews.append(i.text)
        time.sleep(4)
        # Going to Next Page
        nxt_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
        if nxt_button.text=='NEXT':
            nxt_button.click()
        time.sleep(2)
    df = pd.DataFrame({})
    df["Review Summary"] = review_summary
    df["Review Full"] = reviews
    df["Rating"] = rating
    return df

In [441]:
print("Flipkart 100 reviews")
flipkart_reviews()

Flipkart 100 reviews

,Review Summary,Review Full,Rating
0,Perfect product!,Amazing phone with great cameras and better ba...,5
1,Great product,Amazing Powerful and Durable Gadget.I’m am ver...,5
2,Highly recommended,iphone 11 is a very good phone to buy only if ...,5
3,Perfect product!,It’s a must buy who is looking for an upgrade ...,5
4,Brilliant,The Best Phone for the MoneyThe iPhone 11 offe...,5
...,...,...,...
95,Brilliant,"I have migrated from OP 7pro... and trust me, ...",5
96,Worth every penny,Previously I was using one plus 3t it was a gr...,5
97,Wonderful,This is my first ever I phone. Before this I w...,5
98,Great product,Well you all know the specifications . One of ...,5
99,Highly recommended,It's my first time to use iOS phone and I am l...,5

Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and
search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %

In [232]:
# Using the previously developed Function to capture data giving input as Sneakers
print("100 Sneakers from Flipkart")
flipkart_product("sneakers")

100 Sneakers from Flipkart

,Brand,Product Descr,Price,Discount %
0,VINET,Men Sneakers Shoes Sneakers For Men,₹449,55% off
1,Bond Street By Red Tape,Sneakers For Men,"₹1,049",70% off
2,Chevit,Combo Pack of 4 Casual Sneakers With Sneakers ...,₹449,77% off
3,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹379,62% off
4,World Wear Footwear,Combo Pack of 4 Latest Collection Stylish Casu...,₹474,76% off
...,...,...,...,...
95,Chevit,Smart Casuals Canvas Shoes Combo pack of 2 Sne...,₹299,70% off
96,Restinfoot,"Casual shoes,Sneakers for men's,shoes for men'...",₹369,63% off
97,Aura,Trendy and Stylish Combo Pack of 3 Casual Shoe...,₹699,53% off
98,BRUTON,Combo Pack Of 4 Canvas Sneakers For Men,₹499,85% off
99,Red Tape,Sneakers For Men,"₹1,258",70% off

Q9: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”
And then scrape First 100 shoes data you get. The data should include “Brand” of
the shoes , Short Shoe description, price of the shoe

In [293]:
def myntra_shoes():
    driver = webdriver.Chrome("C:\\chromedriver_win32\\chromedriver")
    driver.get("https://www.myntra.com/shoes")
    
    # Clicking filters for Price
    for i in driver.find_elements_by_xpath("//label[@class='common-customCheckbox vertical-filters-label']"):
        if 'Rs. 6589 to Rs. 13059' in i.text: 
            filter_button = i.find_element(By.CLASS_NAME,'common-checkboxIndicator')
            filter_button.click()
    time.sleep(2)
    
    # Clicking filters for Color Black
    for i in driver.find_elements_by_xpath("//label[@class='common-customCheckbox']"):
        if 'Black' in i.text: 
            filter_button = i.find_element(By.CLASS_NAME,'common-checkboxIndicator')
            filter_button.click()
    df_shoes = pd.DataFrame({})
    while len(df_shoes) < 100:   # Capture data till length 100
        soup = BeautifulSoup(driver.page_source, 'html.parser')
        Brand = []
        for i in soup.find_all('h3',class_="product-brand"):
            Brand.append(i.text)
        Short_Desc = []
        for i in soup.find_all('h4',class_="product-product"):
            Short_Desc.append(i.text)
        Price = []
        for i in soup.find_all('div',class_="product-productMetaInfo"):
            if i.find('span',class_="product-discountedPrice") == None:
                Price.append(i.find('div',class_="product-price").text)
            else:
                Price.append(i.find('span',class_="product-discountedPrice").text)
        df = pd.DataFrame({})
        df["Brand"] = Brand
        df["Short Description"] = Short_Desc
        df["Price"] = Price
        df_shoes = df_shoes.append(df)
        df_shoes = df_shoes.reset_index(drop=True)
        
        # Going next page
        nxt_button=driver.find_element_by_xpath("//li[@class='pagination-next']")
        if nxt_button.text=='Next':
            nxt_button.click()
        time.sleep(5)
    return df_shoes[:100]

In [294]:
print("Black Shoes Myntra -- Price range (Rs. 6589 to Rs. 13059)")
myntra_shoes()

Black Shoes Myntra -- Price range (Rs. 6589 to Rs. 13059)

           Brand                  Short Description      Price
0           Geox          Men Leather Driving Shoes   Rs. 9999
1           Puma     Men HYBRID NETFIT Running Shoe   Rs. 6599
2           Geox         Men Leather Formal Oxfords  Rs. 12490
3         ADIDAS       Men SOLAR DRIVE 19 M Running   Rs. 8399
4           Nike        Men AIR ZOOM VOMERO Running  Rs. 10796
..           ...                                ...        ...
95         Ruosh          Men Leather Slip-On Shoes   Rs. 6990
96          FILA                  Men Running Shoes   Rs. 8499
97         Ruosh  Men Solid Leather Formal Slip-Ons   Rs. 6990
98  UNDER ARMOUR      Charged Rogue 2 Wide 2E Shoes   Rs. 7999
99  UNDER ARMOUR           Men Charged Escape 3 Evo   Rs. 8999

[100 rows x 3 columns]

Q10: Go to webpage https://www.amazon.in/
 Enter “Laptop” in the search field and then click the search icon.
 Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the
below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes
for each laptop:
1. title
2. Ratings
3. Price

In [413]:
# Defining the Function
def Amazon_laptop():
    driver = webdriver.Chrome("C:\\chromedriver_win32\\chromedriver")
    driver.get("https://www.amazon.in/")
    
    # Finding element Laptop
    driver.find_element_by_id("twotabsearchtextbox").send_keys("Laptop")
    driver.find_element_by_id("nav-search-submit-button").click()
    filter_search = driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']")
    time.sleep(3)
    
    # Clicking filter for "Intel Core i7"
    temp = 0
    for item in filter_search:
        check = item.find_elements_by_xpath("//span[@class='a-size-base a-color-base']")
        for i in check: 
            if "Intel Core i7" in i.text:
                i.click()
                temp = 1
                break
        if temp == 1:
            break
    temp = 0
    
    # Clicking filter for "Intel Core i7"
    for item in filter_search:
        check = item.find_elements_by_xpath("//span[@class='a-size-base a-color-base']")
        for i in check: 
            if "Intel Core i9" in i.text:
                i.click()
                temp = 1
                break
        if temp == 1:
            break
        
    time.sleep(3)  # Using sleep so that page gets time to Load
    soup = BeautifulSoup(driver.page_source,'html.parser')
    Title = []
    for i in soup.find_all('span',class_="a-size-medium a-color-base a-text-normal"):
        Title.append(i.text)
    Rating = []
    for i in soup.find_all('span',class_="a-icon-alt"):
        Rating.append(i.text) 
    Price = []
    for i in soup.find_all('span',class_="a-price-whole"):
        Price.append(i.text)
    Amazon_df = pd.DataFrame({})
    Amazon_df["Title"] = Title[:10]
    Amazon_df["Rating"] = Rating[:10]
    Amazon_df["Price"] = Price[:10]
    return Amazon_df

In [414]:
print("10 Laptops from Amazon with filters applied for Intel Core i9/i7 processor CPU")
Amazon_laptop()

10 Laptops from Amazon with filters applied for Intel Core i9/i7 processor CPU

,Title,Rating,Price
0,Mi Notebook Horizon Edition 14 Intel Core i5-1...,4 Stars & Up,"50,999"
1,Dell Alienware m15(R3) 15.6-inch FHD Gaming La...,3 Stars & Up,"1,97,200"
2,Lenovo Yoga S740 Intel Core i7 10th Gen 14 inc...,2 Stars & Up,"1,09,990"
3,HP Pavilion x360 Touchscreen 2-in-1 FHD 14-inc...,1 Star & Up,"74,990"
4,HP 14 Thin & Light 14-inch FHD Laptop (11th Ge...,4.2 out of 5 stars,"75,482"
5,"ASUS ROG Zephyrus M15 (2020), 15.6"" 4K UHD, In...",2.7 out of 5 stars,"1,49,099"
6,Acer Nitro 5 Intel i7 - 9th Gen 17.3-inch Disp...,3.3 out of 5 stars,"74,986"
7,Dell G3 3500 Gaming 15.6inch 120hz FHD Display...,3.5 out of 5 stars,"77,990"
8,ASUS ZenBook 14 (2020) Intel Core i7-1165G7 11...,4.0 out of 5 stars,"95,990"
9,Lenovo Legion 5i 10th Gen Intel Core i7 15.6 i...,1.8 out of 5 stars,"89,990"